$primary-color: #efefef;
$secondary-color: #e04747;

$primary-button-color: #6ca7ff;
$button-hover-color: #36ac5d;

// Fonts

h1,
h2,
h3,
h4 {
  font-family: "Nanum";
}

p,
a {
  font-family: "oswald", Arial, Helvetica, sans-serif;
  color: black;
}

a:hover {
  color: $button-hover-color;
}

.nav-link:hover {
  color: $button-hover-color;
}

.nav-link {
  font-size: 18px;
}

.navbar-toggler {
  border: none;
}

// Body
.main-background-color {
  background-color: $primary-color;
}

// Button
.btn-outline-success:hover {
  background-color: $button-hover-color;
}

.section-background {
  background-color: $secondary-color;
}

#displayProfileImage {
  width: 100px;
  height: 100;
  border: 2px solid black;
}

.btn-primary {
  color: $primary-button-color;
}

.btn-primary {
  background-color: $primary-button-color;
  border: none;
}

.btn-primary:hover {
  background-color: $button-hover-color;
}

.dropdown-item:hover {
  background-color: $button-hover-color;
}

// Images
.img-fluid {
  width: 100%;
  object-fit: cover;
  max-height: 200px;
}

// Images
.img-profile {
  max-height: 150px;
  max-width: 150px;
}
